.lelftUnleash {
  flex-basis: 50%;
  gap: 24px;
  border-bottom: 2px solid black;
}

.rightUleash {
  flex-basis: 50%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.rightUleash::-webkit-scrollbar {
  display: none;
}

.rightUleash .card:nth-child(odd) {
  border-right: 2px solid black;
}
