nav .rightBtn {
  padding: 0px 32px;
  color: white;
}

nav ul li {
  padding: 0px 16px;
}

nav ul li.rightBtn {
  padding: 0px 32px;
  background-color: black;
  height: 100%;
  display: flex;
  align-items: center;
  border-left: 1px transparent;
  transition: 0.3s all ease;
}

nav ul li.rightBtn:hover {
  background-color: white;
  color: black;
  border-left: 1px solid black;
}
